@charset "UTF-8";

body {
    margin: 0px;
}

header {
    background-color: black;
    text-align: center;
    padding-top: 20px
    ;
    
}

h1 {
    color: white;
    font-size: 100px;
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}